{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>{{nama}}</p>
<h5>Student ID: </h5>
<p>{{id}}</p>

<h5>User: </h5>
<p>{{username}}</p>

<table>
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Is Finished?</th>
    <th>Selesai</th>
    <th>Hapus</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for data in data_todolist %}
    <tr>
        <td>{{data.date}}</td>
        <td>{{data.title}}</td>
        <td>{{data.description}}</td>
        <td>{{data.is_finished}}</td>
        <td><button><a href="{% url 'todolist:finish_task' data.id %}">Finish</a></button></td>
        <td><button><a href="{% url 'todolist:delete_task' data.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
</table>
<button><a href="{% url 'todolist:create_task' %}">Tambah Task</a></button>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}